* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #221832;
}


.navbar {
    height: 12%;
    display: flex;
    align-items: center;
    padding-right: 5%;
    margin: 30px ;
}

nav {
    display: flex;
    text-align: center;
    justify-content: center;
    position: sticky;
}


nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    border: 2px solid white;
    border-radius: 20px;
    padding: 15px;
    background-color: #720455;
}

nav ul li label {
    color: white;
    margin-right: 5px;
    font-size: 20px;
}

nav ul li input {
    border-radius: 5px;
    border-style: none;
}

nav ul li:hover {
    background-color: #221832;
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: white;
}


.search input {
    margin-left: 5px;
    border: 2px ;
    border-radius: 10px;
}

.title {
    padding-top:30px;
    padding-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    border: 6px solid white;
    border-radius: 40px;
    background-color: #720455;
}

.title h1 {
    text-align: center;
    color: #ffffff;
    font-size: 70px;
}

.para1 {
    display: flex;
    border: 2px solid white;
    border-radius: 20px ;
    margin: auto;
    width: 70%;
    padding: 10px;
    
}

.para1 p {
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

h2 {
    color: #ffffff;
    font-size: 50px;
    margin-left: 30px;
    margin-top: 15px;
}


hr {
    margin: 30px 30px 20px 20px ;
}

p {
    color: white;
    font-size: 17px;
    line-height: 25px;
    margin-left: 30px;
    margin-top: 10px;
    font-family: cursive;
}

.para2 {
    line-height: 30px;
    margin: 30px;
    font-size: 18px;
}

.cover img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px ;
    width: 50%;
    border-radius: 30px;
    border: 7px solid #fff;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box {
    display: inline-block;
    border: 3px solid white;
    border-radius: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    background-color: #3c07536d;
}

.table table  {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

th, td {
    padding: 15px;
    border: 2px solid white;
    border-radius: 10px ;
}

th {
    background-color:#720455 ;
}

td {
    background-color: #3C0753 ;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background-color: #720455;
    color: #ffffff;
}


.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    margin-bottom: 0;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    margin-top: 15px;
    background-color: #221832;
}

.fhr {
    margin: 0;
    margin-top: 30px;
}